<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style2.css" rel="stylesheet">

    <title>Layout 2</title>
</head>
<body>

    <center><label>Imagem teste</label></center>
    <li></li>
    <center><h3><img src="https://i.pinimg.com/originals/d4/86/9f/d4869ff7e95628f82921e0c0c6ad15b9.gif"></h3></center>
    <li></li>
    <center><a style="border:2px solid red;" href="https://download1587.mediafire.com/8rra4u5n823g/dxg5famjtgffuir/d4869ff7e95628f82921e0c0c6ad15b9+%288%29.gif" download>DOWNLOAD DO GIF</a></center>

</body>
</html>